In [4]:
import pandas as pd
s=pd.Series(['a','b','c','a'],dtype='category')
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [6]:
# pd.Categorical(values,category,order)
df=pd.Categorical(['a','b','c','a','b','c','d'],['a','b','c'],ordered=True)
df

['a', 'b', 'c', 'a', 'b', 'c', NaN]
Categories (3, object): ['a' < 'b' < 'c']

In [7]:
df.describe()

            counts     freqs
categories
a                2  0.285714
b                2  0.285714
c                2  0.285714
NaN              1  0.142857

In [15]:
#Renaming Categories
import pandas as pd
s = pd.Series(["a","b","c","a"], dtype="category")
s.cat.rename_categories = ["Group %s"%g for g in s.cat.categories]
print(s.cat.rename_categories)

['Group a', 'Group b', 'Group c']

In [16]:
#Adding New Categories
s=pd.Series(['a','b','c','a'],dtype='category')
s=s.cat.add_categories([4,5])
print(s.cat.categories)

Index(['a', 'b', 'c', 4, 5], dtype='object')

In [20]:
#Removing Categories
s=pd.Series(['a','b','c','a'],dtype='category')
print("original object: ")
print(s)
print("")
print("After Removal")
print(s.cat.remove_categories('a'))

original object:
0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

After Removal
0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (2, object): ['b', 'c']

In [23]:
#Comparisions
# Create the Series with specified categories and ordering
cat = pd.Series(pd.Categorical([1, 2, 3], categories=[1, 2, 3], ordered=True))
cat1 = pd.Series(pd.Categorical([2, 2, 2], categories=[1, 2, 3], ordered=True))

# Compare the two categorical Series
print(cat > cat1)

0    False
1    False
2     True
dtype: bool