## DataFrames

In [5]:
import pandas as pd
data={"A":[1,2,3],"B":[4,5,6]}
df=pd.DataFrame(data,index=["C","D","F"])
df

   A  B
C  1  4
D  2  5
F  3  6

In [9]:
df.loc['C']

A    1
B    4
Name: C, dtype: int64

## Series

In [12]:
s=pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
#Indexing with date range
df.index=pd.date_range(start="22-11-2024",periods=3)
df

            A  B
2024-11-22  1  4
2024-11-23  2  5
2024-11-24  3  6

In [16]:
#Read csv
df1=pd.read_csv("Iris.csv")
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [17]:
df1.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## loc and iloc

In [22]:
print(df1.loc[0]) # to get specific row by index

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [32]:
print(df1.loc[:,'Species'])

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [26]:
print(df1.iloc[1]) #Specific row by index

Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [30]:
print(df1.iloc[[1],[2]]) #Specific row,column by index

   SepalWidthCm
1           3.0

In [35]:
print(df1.iloc[:,[1]]) #All rows of column(index)

     SepalLengthCm
0              5.1
1              4.9
2              4.7
3              4.6
4              5.0
..             ...
145            6.7
146            6.3
147            6.5
148            6.2
149            5.9

[150 rows x 1 columns]

In [38]:
print(df1.iloc[[0,1,2]]) #Rows with index

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [41]:
print(df1.iloc[[0,1,2],[0,1,2]]) #Multi rows and column|

   Id  SepalLengthCm  SepalWidthCm
0   1            5.1           3.5
1   2            4.9           3.0
2   3            4.7           3.2

In [43]:
import pandas as pd
# Creating Dictionary
dict = { 'Hollywood': ['Stranger Things', 'Money Heist', 'House of Cards'],
        'episodes': [25, 40, 45], 'actors': ['Millie', 'Alvaro', 'Kevin']}

# Creating Dataframe
df = pd.DataFrame(dict)
print(df)

# get the values
print(' ')
print('Use df.values property to get NumPy array')
vals = df.values
print(vals)

# convert to list
print(' ')
print('Convert values to list')
print(vals.tolist())
print(df.values.tolist())
print(' ')

#series.tolist()
print("Get the list of actors")
print(df['actors'].tolist())
print("Get the list of episodes")
print(df['episodes'].tolist())
print(' ')

#Zip()
print('Use zip() function to aggregate DataFrame into List')
print(zip(*df.values))
listOfVal = [list(i) for i in zip(*df.values)]
print(listOfVal)

#using iloc
print(' ')
listOfVal0 = df.iloc[:, 0].tolist()
listOfVal1 = df.iloc[:, 1].tolist()
listOfVal2 = df.iloc[:, 2].tolist()
print('Use iloc[] function to get select list of row 0')
print(listOfVal0)
print('Use iloc[] function to get select list of row 1')
print(listOfVal1)
print('Use iloc[] function to get select list of row 2')
print(listOfVal2)
#df.columns.value.tolist()
print(' ')
print('Use df.columns.values.tolist() to get the list of columns')
print(df.columns.values.tolist())

         Hollywood  episodes  actors
0  Stranger Things        25  Millie
1      Money Heist        40  Alvaro
2   House of Cards        45   Kevin

Use df.values property to get NumPy array
[['Stranger Things' 25 'Millie']
 ['Money Heist' 40 'Alvaro']
 ['House of Cards' 45 'Kevin']]

Convert values to list
[['Stranger Things', 25, 'Millie'], ['Money Heist', 40, 'Alvaro'], ['House of Cards', 45, 'Kevin']]
[['Stranger Things', 25, 'Millie'], ['Money Heist', 40, 'Alvaro'], ['House of Cards', 45, 'Kevin']]

Get the list of actors
['Millie', 'Alvaro', 'Kevin']
Get the list of episodes
[25, 40, 45]

Use zip() function to aggregate DataFrame into List
<zip object at 0x000002A3308D1C80>
[['Stranger Things', 'Money Heist', 'House of Cards'], [25, 40, 45], ['Millie', 'Alvaro', 'Kevin']]

Use iloc[] function to get select list of row 0
['Stranger Things', 'Money Heist', 'House of Cards']
Use iloc[] function to get select list of row 1
[25, 40, 45]
Use iloc[] function to get select list of row 2
['Millie', 'Alvaro', 'Kevin']

Use df.columns.values.tolist() to get the list of columns
['Hollywood', 'episodes', 'actors']

In [57]:
#Q1 Write a python program to fatch the Name of all people aged under 18 years from people.csv file
df3=pd.read_csv('Unit_3_3_ppl.csv')
N=df3['Name'].tolist()
A=df3['Age'].tolist()
for i in range(len(A)):
    if(A[i]<18):
        print(N[i])

Riya
Jahnvi
Foram

In [58]:
df2=pd.read_csv('Unit_3_3_ppl.csv')
#sal=df2['Salary'].tolist()
for i in range(len(sal)):
    if(sal[i]>20000):
        sal[i]+=sal[i]*0.1
    elif(sal[i]<10000):
        sal[i]+=sal[i]*0.2
df2['Updated_Sal']=sal
df2.to_csv("Unit_3_3_ppl.csv")
df2

   Unnamed: 0    Name  Age  Salary  Updated_Sal
0           0    Riya   12   22000      29282.0
1           1   Priya   20   11000      15000.0
2           2  Vanita   23    5000       8640.0
3           3  Jahnvi   15    7000      11520.0
4           4   Foram   16   15000      39930.0